@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  color: rgba(5, 5, 5, 0.87);
  background-color: #242424;
} */

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
